/*linea del HEADER*/ 
  .header{
    background: #FFFFFF;
    background: linear-gradient(90deg, rgba(255,255,255,0) 50%, rgb(222,240,255) 55%);
    padding: 1.5rem;
  }
  .bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logotitulo p{
    font-weight: 600;
    font-size: 3rem;
    color: darkblue;
  }
  .navegacion{
    display: flex;
    gap: 4rem;
  }
  .navegacion a{
    color: #697383;
    font-size: 1.8rem;
  }
  .boton_navegacion a{
    background-color: darkblue;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    color: #FFFFFF;
    box-shadow: 3px 2px 5px 0px rgba(#000);
    -webkit-box-shadow: 3px 2px 5px 0px rgba(#000);
    -moz-box-shadow: 3px 2px 5px 0px rgba(#000);
  }
/* llamado a la accion*/
  .principal{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .pr1{
    padding-left: 8rem;
    background-blend-mode: soft-light;
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .enfermera{
    background-image: url(assets/images/enfermera_jeringa.jpg);
    background-blend-mode: soft-light;
    height: 70rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .etiquetas{
    display: flex;
    align-items: center;
    gap:  1rem;
  }
  .etiqueta{
    margin-top: 8rem;
  }
  .fa-solid{
    color: gold;
  }
  .fa-clock{
    color: darkblue;
  }

  /* citas*/
  .citas{
    position: absolute;
    display: flex;
    gap: 8rem;
    align-items: center;
    padding: 1rem;
    margin: -16rem 1rem 1rem 15rem;
    background-color: #FFFFFF;
  }
  .cita_c i{
    color: darkblue;
  }
  .cita_c p{
    padding-left: 1rem;
  }
  .btn_cita{
    padding: 2rem;
  }
  .btn_cita a{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\1F53D';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content:'\1F53C' ;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
